<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="ciseaux" value="SCISSORS"/>
    <parameter name="papier"  value="PAPER"/>
    <parameter name="pierre"  value="ROCK"/>
    <test verbose="2" preserve-order="true" name="C:/homeware/workspace/MODL/TDD">
        <classes>
            <class name="fr.parisnanterre.miage.rps.model.RockPaperScissorsTest">
                <methods>
                    <include name="testWinPlay"/>
                    <include name="testTiePlay"/>
                    <include name="testLostPlay"/>
                    <include name="testWinPlay"/>
                    <include name="testTiePlay"/>
                    <include name="testLostPlay"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>