<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"
<suite name ="Play" verbose ="1" >
    <parameter name =" ciseaux " value ="SCISSORS" />
    <parameter name ="papier " value ="PAPER" />
    <parameter name =" pierre " value ="ROCK" />
    <test name =" testWinPlay " >
        <classes>
            <class name ="fr/parisnanterre/miage/rps/model.TestRockPapersScissors " >
            </class>
        </classes>
    </test><!-- Test -->
</suite><!-- Suite -->
